<% if (locals.article) { %>


<p id="date"><%= article.date %></p>


<h2><%= article.title %></h2>

<p id="articleContent">
    <%= article.content %>
</p>

<div id="update"><a href="/update/<%= article.id %>">Update</a></div>
<div id="delete"><a href="/delete/<%= article.id %>">Delete</a></div>

<% } %>