<%- include("partials/header.ejs") %>

<div class="lead">
  <h3>All Posts</h3>
  <div
    class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center"
  >
    <div class="list-group">
      <ul>
        <% if (locals.array) { %> <% for(let i = 0; i < array.length; i++) { %>
        <li>
          <a
            href="article/<%= array[i].id %>"
            class="list-group-item list-group-item-action d-flex gap-3 py-3"
            aria-current="true"
          >
            <img
              src="images/logo.png"
              alt="twbs"
              width="32"
              height="32"
              class="rounded-circle flex-shrink-0"
            />
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0"><%= array[i].title %></h6>
                <p class="mb-0 opacity-75">
                  <%= array[i].content.substring(0, 90) %>...
                </p>
              </div>
              <small class="opacity-50 text-nowrap"><%= array[i].date %></small>
            </div>
          </a>
        </li>
        <% }} %>
      </ul>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
